  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;



  }


  body {
    width: 100%;
    max-width: 430px;
    height: 100%;
    margin: auto;
  }


  .auth__page {
    position: relative;
    background-image: url('/images/auth/bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    padding: 15px;
    min-height: 100dvh;

    height: 100%;


  }


  .Logo__ {

    height: 50px;
  }