@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");


* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Inter;
}

:root {
  --icon-width: 79px;
  --icon-height: 79px;
  --max-lines: 9;
}

img {
  top: 0px;
  left: 0px;
  height: 100%;
  object-fit: contain;
  width: 100%;
  /* border-radius: 8px; */
}
.start__{ 
  font-size: 54px !important;
}


body {

  background-color: #EDF1F7;
}

p {
  /* color: rgb(161, 167, 187); */
}
.invalid-feedback { 

  color: red;
  font-size: 12px;
  padding-top: 5px
}






.remove__blue{ 
  text-decoration: none;
}



img { 
  width: 100%;
}